    body {
      font-family: Arial, sans-serif;
      background-color: #b7e1df;
    }
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 250px;
      background-color: #17252A;
      padding-top: 20px; /* Adjust according to your navbar height */
      color: #fff;
      overflow-y: auto;
    }
    .sidebar-header {
        display: flex;
      padding: 20px;
    }
    .sidebar-header img{
        width: 45px;
        height: 45px;
        padding: 5px;
        border-radius: 50%;
    }
    .sidebar-header a {
      margin-bottom: 0;
      color: white;
    }
    .sidebar-header li{
        list-style: none;
    }
    .list-unstyled li {
      padding: 20px 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .list-unstyled li:last-child {
      border-bottom: none;
    }
    .list-unstyled li a {
      color: #fff;
      text-decoration: none;
    }
    .list-unstyled li:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    .main-content {
      margin-left: 250px; /* Adjust according to your sidebar width */
      padding: 20px;
    }
    .navbar-brand {
      font-size: 1.5rem;
    }
    .navbar-nav .nav-link {
      color: #fff;
      padding: 5px 10px;
      border-radius: 3px;
      transition: background-color 0.3s ease;
    }
    .navbar-nav .nav-link:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    .main-header{
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .price-showcase {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
      }
      .card {
        width: 25%;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 5px 5px 5px;
      }
      .card-body {
        text-align: center;
      }
      .card-title {
        font-size: 2rem;
        color: #007bff; /* Bootstrap primary color */
      }
      .card-subtitle {
        font-size: 1.5rem;
        color: #6c757d; /* Bootstrap secondary color */
      }

      .expense-container {
        background-color: #17252A;
        max-width: 30%;
        margin: 80px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .expense-container h2{
        color: #fff;
      }
      .expense-container label{
        color: #fff;
      }
      .expense-container button{
        align-items: center;
      }